@import "variables";
* {
  padding: 0;
  margin: 0;
}
body{
  font-family: $font-barlow;
  font-size: 18px;
  font-weight: 600;
}
h1,h2,h5{
  font-family: $font-franceus;
  font-weight: 900;
}
.banner {
  min-height: 100vh;
  width: 100vw;
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 40px;
}
  .header-top__menu {
    background-color: white;
    height: 50vh;
    width: 350px;
    position: absolute;
    top: 130px;
    left: 5px;
    transition: all .5s ease;
    ul{ 
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      a{
          margin-bottom: 15px;
          text-decoration: none;
          font-size: 25px;
          color: $Grayish-blue;
        }
    }
  }
  .menu__contact{
    background-color: $yellow;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 50px;
    li a{
      color:$Very-dark-desaturated-blue;
    }
  }
  .active{
    transform: translateY(-600px);
  }

.hero{
  color: $White;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15vh;
  .hero__title{
    font-size: 56px;
  }
}
.box-content{
    margin: 50px;
    text-align: center;
    .box-content__title{
      color:$Very-dark-desaturated-blue;
      font-size: 26px;
      margin-bottom: 20px;
    }
    .box-content__info{
      color: $Grayish-blue;
      line-height: 1;
      margin-bottom: 20px;
    }
    .box-content__link{
      text-transform: uppercase;
      font-family: $font-franceus;
      color: $Very-dark-desaturated-blue;
      text-decoration: none;
    }
}
.row{
  img{
    width: 100vw;
    height: 100%;
  }
}
.card{
  position: relative;
  color: $Dark-desaturated-cyan;
  text-align: center;
  .box-content{
    position: absolute;
    top: 50%;
    p{
      line-height: 1;
      padding: 10%;
    }
  }
}
.testimonial{
  text-align: center;
  .testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   .testimonial__title{
      text-transform: uppercase;
      margin-bottom: 30px;
      font-family: $font-franceus; 
      color: $Grayish-blue;
    }
    .single-testimonial{
      padding: 40px 20px 20px 20px;
      img{
        border-radius: 100%;
        width: 100px;
        height: 100px;
      }
      p{
        color: $Dark-grayish-blue;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.5;
      }
      span{
        color: $Grayish-blue;
        margin-top: 20px;
        font-size: 16px;
      }
    }
}
.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  img{
    width: 100%;
    height: 100%;
  }
}
.footer-container{
  height: 100%;
    background-color: #458c7e;
    text-align: center;
    color: #19536b;
    padding: 10%;
  .footer__logo{
    padding-bottom: 40px;
  }
  .footer-menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: $Dark-desaturated-cyan;
  }
  .social-media{
    display: flex;
    padding: 50px;
    justify-content: center;
    img{
      margin: 30px;
    }
  }
 
  
}


@media only screen and (min-width: 1440px) {
  .banner {
    background-image: url("../images/desktop/image-header.jpg");
  }
  .icon-menu{
    display: none;
    }
    .header-top{
      display: flex;
      flex-direction: row;
      .header-top__menu {
        background-color: transparent;
        position: initial;
        height: 40px;
        display: flex;
        ul{
          flex-direction: row;
          li{
            margin-right: 15px;
            a{
              color: $White;
              font-size: 18px;
            }
          }
        }
      }
      .menu__contact{
        background: $White;
        padding: 4px 15px;
        border-radius: 20px;
        text-transform: uppercase;
        a{
           color: $Very-dark-desaturated-blue;  
           font-size: 18px; 
        }
    }
    }
      
  
  .active{
    transform:none;
  }
    
    .header__arrow {
      text-align: center;
      position: relative;
      top: 32%;
    }
    .hero{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 30vh;
    }
  
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .col img{
      width: 100%;
      height: 100%;
    }
  }
  .box-content{
    padding: 20%;
    .box-content__title{
      color:$Very-dark-desaturated-blue;
      font-size: 36px;
      margin-bottom: 10px;
    }
    .box-content__info{
      color: $Grayish-blue;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    .box-content__link{
      text-transform: uppercase;
      font-family: $font-franceus;
      color: $Very-dark-desaturated-blue;
      text-decoration: none;
    }
}
.testimonial{
  padding: 100px;
}
  .testimonial .testimonial-container{
    flex-direction: row;
    justify-content: space-evenly;
  }
  .single-testimonial{
    width: 20%;
  }
  .gallery{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}
